@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap");

// Colors
$color-darkNavy: #1a2a33;
$color-semiDarkNavy: #1f3641;
$color-silver: #a8bfc9;
$color-silverHover: #dbe8ed;
$color-lightBlue: #31c3bd;
$color-lightBlueHover: #65e9e4;
$color-lightYellow: #f2b137;
$color-lightYellowHover: #ffc860;

// Fonts
$font-family: "Outfit", sans-serif;
$font-size: 14px;

// Main Breakpoints
$sm: 320px;
$md: 640px;
$md-lg: 960px;
$lg: 1024px;
$x-lg: 1440px;
