@use "./../01-abstracts/" as *;

.game {
  margin: 24px 24px auto;

  &__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 64px;
  }

  &__turn {
    background-color: $color-semiDarkNavy;
    box-shadow: inset 0px -4px 0px #10212a;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    gap: 9px;
    padding: 8px 15px 13px;
    margin: auto;

    &-icon {
      width: 16px;
    }
  }

  &__logo {
    max-width: 72px;
    margin-top: 4px;
  }

  &__restart {
    width: 40px;
    height: 40px;
    padding: 12px;
    margin-left: auto;
    background-color: $color-silver;
    box-shadow: inset 0px -4px 0px #6b8997;
    border-radius: 5px;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;

    &-cell {
      margin: 0;
      padding: 0;
      background-color: $color-semiDarkNavy;
      box-shadow: inset 0px -8px 0px #10212a;
      border-radius: 10px;
      padding: 24px 28px 32px;
      min-height: 96px;

      & img {
        max-width: 40px;
      }
    }
  }

  &__score {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
    color: $color-darkNavy;

    &-cell {
      border-radius: 10px;
      padding: 12px 0;

      &--1 {
        background-color: $color-lightBlue;
      }

      &--2 {
        background-color: $color-silver;
      }

      &--3 {
        background-color: $color-lightYellow;
      }
    }

    &-name {
      font-weight: 500;
      font-size: rem(12px);
      line-height: 15px;
    }

    &-num {
      font-weight: 700;
      font-size: rem(20px);
      line-height: 25px;
    }
  }
}
